:root {
    --primary: #4caf50;
    --secondary: #f1f1f1;
    --danger: #f44336;
    --font: 'Arial', sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--secondary);
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

button {
    cursor: pointer;
    border: none;
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #45a049;
    opacity: 0.9;
}

input, .select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 2rem;
    }

    .add-expense, .expenses {
        flex: 1;
    }
}